<ul class='nav nav-tabs'>
  <li class='nav-item'>
    <a
      {{action 'changeTab' 'crowdstrike'}}
      class='nav-link {{if (or (eq activeTab 'crowdstrike') (not activeTab)) 'active'}}'
      href='#'
    >
      Crowdstrike
    </a>
  </li>

  {{#if block.userOptions.searchIoc}}
    <li class='nav-item'>
      <a {{action 'changeTab' 'crowdstrikeIoc'}} class='nav-link {{if (eq activeTab 'crowdstrikeIoc') 'active'}}' href='#'>
        Crowdstrike IOC
      </a>
    </li>
  {{/if}}
</ul>

{{#if (eq activeTab 'crowdstrike')}}
  {{#if details.detections}}
    <div>
      Displaying
      {{details.detections.length}}
      of
      {{details.meta.totalResults}}
      results.
    </div>
  {{else}}
    <div class="m-1">
      No Results.
    </div>
  {{/if}}
  {{#each details.detections as |detection detectionIndex|}}
    {{#if (gt detectionIndex 0)}}
      <hr />
    {{/if}}
    <div class='p-title'>
      {{fa-icon 'search' fixedWidth=true}}
      Detection&nbsp;
      <a href='{{detection.__url}}' class='p-link detection-title'>View in Falcon
        {{fa-icon 'external-link-square' fixedWidth=true class='external-link'}}</a>
    </div>
    {{#each detectionProperties as |prop|}}
      <div>
        <span class='p-key'>{{humanize prop}}:</span>
        <span class='p-value'>{{get detection prop}}</span>
      </div>
    {{/each}}
    {{! Device Information }}
    {{#if detection.device}}
      <div class='p-title'>{{fa-icon 'laptop' fixedWidth=true}}
        Device Information
        <span class='p-action' {{action 'showAllDeviceInfo' detectionIndex}}>
          {{#if detection.__showAllDeviceInfo}}
            &nbsp;(view compact
            {{fa-icon 'caret-down'}})
          {{else}}
            &nbsp;(view all
            {{fa-icon 'caret-up'}})
          {{/if}}
        </span>
      </div>
      {{#if detection.__showAllDeviceInfo}}
        {{object-to-table detection.device}}
      {{else}}
        {{#each compactDeviceProperties as |prop|}}
          {{#if (get detection.device prop)}}
            <div>
              <span class='p-key'>{{humanize prop}}:</span>
              <span class='p-value'>{{get detection.device prop}}</span>
            </div>
          {{/if}}
        {{/each}}
      {{/if}}
    {{/if}}
    {{! Behavior Information }}
    {{#if detection.behaviors}}
      <div class='p-title'>{{fa-icon 'brain' fixedWidth=true}}
        Behavior Information
        <span class='p-action' {{action 'showAllBehaviorInfo' detectionIndex}}>
          {{#if detection.__showAllBehaviorInfo}}
            &nbsp;(view compact
            {{fa-icon 'caret-down'}})
          {{else}}
            &nbsp;(view all
            {{fa-icon 'caret-up'}})
          {{/if}}
        </span>
      </div>
      {{#if detection.__showAllBehaviorInfo}}
        {{#each detection.behaviors as |behavior behaviorIndex|}}
          <div class='p-title'>Behavior ID: {{behavior.behavior_id}}</div>
          {{object-to-table behavior}}
        {{/each}}
      {{else}}
        {{#each detection.behaviors as |behavior behaviorIndex|}}
          <div class='p-title'>Behavior: {{behavior.behavior_id}}</div>
          {{#each compactBehaviorProperties as |prop|}}
            {{#if (get behavior prop)}}
              <div>
                <span class='p-key'>{{humanize prop}}:</span>
                <span class='p-value'>{{get behavior prop}}</span>
              </div>
            {{/if}}
          {{/each}}
        {{/each}}
      {{/if}}
    {{/if}}
  {{/each}}
{{/if}} 

{{#if (eq activeTab 'crowdstrikeIoc')}}
  {{#if details.devices}}
    <div>
      Displaying
      {{details.devices.length}}
      of
      {{details.meta.totalResults}}
      results.
    </div>
    <div class='p-title'>{{fa-icon 'laptop' fixedWidth=true}}
      Device Information
    </div>
    {{#each details.devices as |device|}}
      <div class='devices-container'>
        {{#if device.hostman}}
          <div>
            <span class='p-key'>Hostman:</span>
            <span class='p-value'>{{device.hostman}}</span>
          </div>
        {{/if}}
        {{#if device.product_type_desc}}
          <div>
            <span class='p-key'>Product Type:</span>
            <span class='p-value'>{{device.product_type_desc}}</span>
          </div>
        {{/if}}
        {{#if device.system_manufacturer}}
          <div>
            <span class='p-key'>Sys. Manufacturer:</span>
            <span class='p-value'>{{device.system_manufacture}}</span>
          </div>
        {{/if}}
        {{#if device.system_product_name}}
          <div>
            <span class='p-key'>Product Type:</span>
            <span class='p-value'>{{device.system_product_name}}</span>
          </div>
        {{/if}}
        {{#if device.os_version}}
          <div>
            <span class='p-key'>OS Version:</span>
            <span class='p-value'>{{device.os_version}}</span>
          </div>
        {{/if}}
        {{#if device.external_ip}}
          <div>
            <span class='p-key'>External IP:</span>
            <span class='p-value'>{{device.external_ip}}</span>
          </div>
        {{/if}}
        {{#if device.local_ip}}
          <div>
            <span class='p-key'>Local IP:</span>
            <span class='p-value'>{{device.local_ip}}</span>
          </div>
        {{/if}}
        {{#if device.first_seen}}
          <div>
            <span class='p-key'>First Seen:</span>
            <span class='p-value'>{{device.first_seen}}</span>
          </div>
        {{/if}}
        {{#if device.last_seen}}
          <div>
            <span class='p-key'>Last Seen:</span>
            <span class='p-value'>{{device.last_seen}}</span>
          </div>
        {{/if}}
      </div>
    {{/each}}
  {{else}}
    <div class="m-1">
      No Results.
    </div>
  {{/if}}
{{/if}}