{{#if details.errorMessage}}
  <div class='mt-2'>
    <div class='alert alert-danger'>
      <pre>{{details.errorMessage}}</pre>
    </div>
    {{#if (not (eq details.allowRetry false))}}
      <button
        type='button'
        class='p-btn btn btn-sm btn-secondary retry-btn mt-2'
        {{action 'retryLookup'}}
      >
        {{#if running}}
          {{fa-icon icon='spinner-third' fixedWidth=true spin=true}}
        {{else}}
          Retry Search
        {{/if}}
      </button>
      <div class='mt-1'>
        <span class='p-footnote'>
          You can retry your search by pressing the "Retry Search" button.</span>
      </div>
    {{/if}}
  </div>
{{else}}
  <ul class='nav nav-tabs'>
    {{#if details.detections.detections.length}}
      <li class='nav-item'>
        <a
          {{action 'changeTab' 'crowdstrike'}}
          class='nav-link
            {{if (or (eq activeTab "crowdstrike") (not activeTab)) "active"}}'
          href='#'
        >
          Detections
        </a>
      </li>
    {{/if}}
    {{#if (and block.userOptions.searchIoc details.devices.devices.length)}}
      <li class='nav-item'>
        <a
          {{action 'changeTab' 'crowdstrikeIoc'}}
          class='nav-link {{if (eq activeTab "crowdstrikeIoc") "active"}}'
          href='#'
        >
          IOC Management
        </a>
      </li>
    {{/if}}
    {{#if details.devices.devices.length}}
      <li class='nav-item'>
        <a
          {{action 'changeTab' 'hosts'}}
          class='nav-link {{if (or (eq activeTab "hosts") (not activeTab)) "active"}}'
          href='#'
        >
          Host Management
        </a>
      </li>
    {{/if}}
  </ul>
  {{#if (eq activeTab 'crowdstrike')}}
    {{#if details.detections.detections.length}}
      <div>
        Displaying
        {{details.detections.detections.length}}
        of
        {{details.detections.detectionTotalResults}}
        results.
      </div>
    {{/if}}
    {{#each details.detections.detections as |detection detectionIndex|}}
      {{#if (gt detectionIndex 0)}}
        <hr />
      {{/if}}
      <div class='p-title'>
        {{fa-icon 'search' fixedWidth=true}}
        Detection&nbsp;
        <a href='{{detection.__url}}' class='p-link detection-title'>View in Falcon
          {{fa-icon 'external-link-square' fixedWidth=true class='external-link'}}</a>
      </div>
      {{#each detectionProperties as |prop|}}
        <div>
          <span class='p-key'>{{titleize (humanize (dasherize prop))}}:</span>
          <span class='p-value'>{{get detection prop}}</span>
        </div>
      {{/each}}

      {{! Detection Information }}
      {{#if detection.device}}
        <div class='p-title'>{{fa-icon 'laptop' fixedWidth=true}}
          Device Information
          <span class='p-action' {{action 'showAllDeviceInfo' detectionIndex}}>
            {{#if detection.__showAllDeviceInfo}}
              &nbsp;(view compact
              {{fa-icon 'caret-down'}})
            {{else}}
              &nbsp;(view all
              {{fa-icon 'caret-up'}})
            {{/if}}
          </span>
        </div>
        {{#if detection.__showAllDeviceInfo}}
          {{object-to-table detection.device}}
        {{else}}
          {{#each compactDeviceProperties as |prop|}}
            {{#if (get detection.device prop)}}
              <div>
                <span class='p-key'>{{humanize prop}}:</span>
                <span class='p-value'>{{get detection.device prop}}</span>
              </div>
            {{/if}}
          {{/each}}
        {{/if}}
      {{/if}}

      {{! Behavior Information }}
      {{#if detection.behaviors}}
        <div class='p-title'>{{fa-icon 'brain' fixedWidth=true}}
          Behavior Information
          <span class='p-action' {{action 'showAllBehaviorInfo' detectionIndex}}>
            {{#if detection.__showAllBehaviorInfo}}
              &nbsp;(view compact
              {{fa-icon 'caret-down'}})
            {{else}}
              &nbsp;(view all
              {{fa-icon 'caret-up'}})
            {{/if}}
          </span>
        </div>
        {{#if detection.__showAllBehaviorInfo}}
          {{#each detection.behaviors as |behavior behaviorIndex|}}
            <div class='p-title'>Behavior ID: {{behavior.behavior_id}}</div>
            {{object-to-table behavior}}s
          {{/each}}
        {{else}}
          {{#each detection.behaviors as |behavior behaviorIndex|}}
            <div class='p-title'>Behavior: {{behavior.behavior_id}}</div>
            {{#each compactBehaviorProperties as |prop|}}
              {{#if (get behavior prop)}}
                <div>
                  <span class='p-key'>{{humanize prop}}:</span>
                  <span class='p-value'>{{get behavior prop}}</span>
                </div>
              {{/if}}
            {{/each}}
          {{/each}}
        {{/if}}
      {{/if}}
    {{/each}}
  {{/if}}

  {{! crowdstrikeIOC }}
  {{#if (eq activeTab 'crowdstrikeIoc')}}
    {{#if details.devices}}
      <div>
        Displaying
        {{details.devices.devices.length}}
        of
        {{details.devices.deviceTotalResults}}
        results.
      </div>
      <div class='p-title'>{{fa-icon 'laptop' fixedWidth=true}}
        Device Information
      </div>
      {{#each details.devices.devices as |device|}}
        <div class='devices-container'>
          {{#if device.hostname}}
            <div>
              <span class='p-key'>Hostname:</span>
              <span class='p-value'>{{device.hostname}}</span>
            </div>
          {{/if}}
          {{#if device.product_type_desc}}
            <div>
              <span class='p-key'>Product Type:</span>
              <span class='p-value'>{{device.product_type_desc}}</span>
            </div>
          {{/if}}
          {{#if device.system_manufacturer}}
            <div>
              <span class='p-key'>Sys. Manufacturer:</span>
              <span class='p-value'>{{device.system_manufacturer}}</span>
            </div>
          {{/if}}
          {{#if device.system_product_name}}
            <div>
              <span class='p-key'>Product Type:</span>
              <span class='p-value'>{{device.system_product_name}}</span>
            </div>
          {{/if}}
          {{#if device.os_version}}
            <div>
              <span class='p-key'>OS Version:</span>
              <span class='p-value'>{{device.os_version}}</span>
            </div>
          {{/if}}
          {{#if device.external_ip}}
            <div>
              <span class='p-key'>External IP:</span>
              <span class='p-value'>{{device.external_ip}}</span>
            </div>
          {{/if}}
          {{#if device.local_ip}}
            <div>
              <span class='p-key'>Local IP:</span>
              <span class='p-value'>{{device.local_ip}}</span>
            </div>
          {{/if}}
          {{#if device.first_seen}}
            <div>
              <span class='p-key'>First Seen:</span>
              <span class='p-value'>{{moment-format
                  device.first_seen
                  timeZone=timezone
                }}</span>
            </div>
          {{/if}}
          {{#if device.last_seen}}
            <div>
              <span class='p-key'>Last Seen:</span>
              <span class='p-value'>{{moment-format
                  device.last_seen
                  timeZone=timezone
                }}</span>
            </div>
          {{/if}}
          {{#each device.policies as |policy|}}
            {{#if (eq policy.policy_type 'prevention')}}
              <div>
                <span class='p-key'>Prevention Policy Applied:</span>
                <span class='p-value'>{{policy.applied}}</span>
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/each}}
    {{/if}}
  {{/if}}

  {{! hosts tab }}
  {{#if (eq activeTab 'hosts')}}
    {{#if details.devices}}
      <div>
        Displaying
        {{details.devices.devices.length}}
        of
        {{details.devices.deviceTotalResults}}
        results
      </div>

      <div class='containment-info'>
        {{#each details.devices.devices as |device index|}}
          <div class='devices-container'>
            {{#if device.hostname}}
              <h1 class=''>{{fa-icon 'laptop' fixedWidth=true}}
                {{device.hostname}}
              </h1>
            {{/if}}
            <div class='mb-1 mt-1'>
              <a
                class='p-link'
                href='https://falcon.crowdstrike.com/hosts/hosts/host/{{device.device_id}}'
              >
                View Containment Information
                {{fa-icon icon='external-link-square' class='external-link-icon'}}
              </a>
            </div>
            {{#if device.external_ip}}
              <div>
                <span class='p-key'>External IP:</span>
                <span class='p-value'>{{device.external_ip}}</span>
              </div>
            {{/if}}
            {{#if device.local_ip}}
              <div>
                <span class='p-key'>Local IP:</span>
                <span class='p-value'>{{device.local_ip}}</span>
              </div>
            {{/if}}
            {{#if device.product_type_desc}}
              <div>
                <span class='p-key'>Host Type:</span>
                <span class='p-value'>{{device.product_type_desc}}</span>
              </div>
            {{/if}}
            {{#if device.system_manufacturer}}
              <div>
                <span class='p-key'>Manufacturer:</span>
                <span class='p-value'>{{device.system_manufacturer}}</span>
              </div>
            {{/if}}
            {{#if device.system_product_name}}
              <div>
                <span class='p-key'>Model:</span>
                <span class='p-value'>{{device.system_product_name}}</span>
              </div>
            {{/if}}
            {{#if device.os_version}}
              <div>
                <span class='p-key'>OS Version:</span>
                <span class='p-value'>{{device.os_version}}</span>
              </div>
            {{/if}}
            {{#if device.first_seen}}
              <div>
                <span class='p-key'>First Seen:</span>
                <span class='p-value'>{{moment-format
                    device.first_seen
                    timeZone=timezone
                  }}</span>
              </div>
            {{/if}}
            {{#if device.last_seen}}
              <div>
                <span class='p-key'>Last Seen:</span>
                <span class='p-value'>{{moment-format
                    device.last_seen
                    timeZone=timezone
                  }}</span>
              </div>
            {{/if}}
            {{#each device.policies as |policy|}}
              {{#if (eq policy.policy_type 'prevention')}}
                <div>
                  <span class='p-key'>Prevention Policy Applied:</span>
                  <span class='p-value'>{{policy.applied}}</span>
                </div>
              {{/if}}
            {{/each}}

            {{#if device.status}}
              <div class="mt-1">
                <span class='p-key'>Containment Status:</span>
                <span class='p-value'>{{titleize
                    (humanize (dasherize device.status))
                  }}</span>
              </div>
            {{/if}}

            {{#if (eq device.status 'normal')}}
              <button
                {{action 'toggleShowModal' device index}}
                class='p-btn btn btn-light mt-1'
                disabled={{or (get openContainmentModalIsRunning index) modalOpen}}
              >
                {{#if (get openContainmentModalIsRunning index)}}
                  {{fa-icon 'spinner-third' fixedWidth=true spin=true}}
                {{/if}}
                Network Contain
              </button>
            {{else if (eq device.status 'contained')}}
              <button
                {{action 'toggleShowModal' device index}}
                class='p-btn btn btn-light mt-1'
                disabled={{or (get openContainmentModalIsRunning index) modalOpen}}
              >
                {{#if (get openContainmentModalIsRunning index)}}
                  {{fa-icon 'spinner-third' fixedWidth=true spin=true}}
                {{/if}}
                Lift Containment
              </button>
            {{else}}
              <div class='d-flex flex-row justify-content-between align-items-center'>
                <button
                  {{action 'getAndUpdateDeviceState' device index}}
                  class='p-btn btn btn-light mt-1'
                  disabled={{get getAndUpdateDeviceStateIsRunning index}}
                >
                  {{#if (get getAndUpdateDeviceStateIsRunning index)}}
                    {{fa-icon 'spinner-third' fixedWidth=true spin=true}}
                  {{/if}}
                  Check{{if (get getAndUpdateDeviceStateIsRunning index) 'ing'}}
                  Containment Status
                </button>
                {{#if (get getAndUpdateDeviceStateMessages index)}}
                  <div class='alert alert-info mt-1'>
                    {{get getAndUpdateDeviceStateMessages index}}
                  </div>
                {{/if}}
              </div>
            {{/if}}
            {{#if (get openContainmentModalMessages index)}}
              <div class='alert alert-info mt-1'>
                {{get openContainmentModalMessages index}}
              </div>
            {{/if}}
            {{#if (get openContainmentModalErrorMessages index)}}
              <div class='alert alert-danger mt-1'>
                {{get openContainmentModalErrorMessages index}}
              </div>
            {{/if}}
          </div>
          {{#if modalOpen}}
            <div class='containment-modal'>
              <div class='modal-container'>
                <div class='modal-text'>
                  <span>
                    Are you sure you want to
                    {{if (eq device.status 'contained') 'lift containment on' 'contain'}}
                    this host: <span class="bold">{{device.hostname}}</span>?
                  </span>
                </div>
                <div class='modal-options'>
                  <div>
                    <button {{action 'toggleShowModal'}} class='modal-btn'>Cancel</button>
                  </div>
                  <div>
                    <button
                      {{action 'confirmContainmentOrLiftContainment'}}
                      class='modal-btn'
                    >Confirm</button>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>

    {{/if}}
  {{/if}}
{{/if}}